.footer{
    max-width: 100%;
    position:sticky;
        bottom:0;
        left:0;
    height:360px;
    color:#fbfbfb;
    background-color:#141414;
    padding-top: 1rem;
    padding-bottom:1rem;
    --gap:1rem;
}
.footer,
.footer_list,
.footer_address,
.location
{
    flex-direction: column;
    padding-left: 0.5rem;
}
.social_media{
    padding-left: 0.5rem;
}

.location{
    padding:0;
    --gap:0.5rem;
}
.footer_list li,
.footer_address
{
    margin-bottom:0.5rem;
    background-image:linear-gradient(
    45deg,
    hsl(46deg 67% 51%) 0%,
    hsl(45deg 68% 62%) 9%,
    hsl(46deg 73% 69%) 18%,
    hsl(46deg 81% 75%) 27%,
    hsl(46deg 83% 77%) 36%,
    hsl(45deg 70% 70%) 45%,
    hsl(45deg 63% 62%) 55%,
    hsl(45deg 60% 50%) 64%,
    hsl(45deg 58% 52%) 73%,
    hsl(45deg 58% 60%) 82%,
    hsl(45deg 60% 65%) 91%,
    hsl(46deg 63% 71%) 100%
  );
  background-size: 100%;

  /* Use the text as a mask for the background. */
  /* This will show the gradient as a text color rather than element bg. */
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent; 
  -moz-background-clip: text;
  -moz-text-fill-color: transparent;
}
.linkedin{
    background-color: white;
    border-radius: 50%;
}

@media (min-width:768px) {
    .footer{
        flex-direction: row;
        justify-content: space-between;
        padding-inline: 4rem;
        height:250px;
        padding-top: 2rem;
        padding-bottom:0;
     
    }
    
    .footer_list,
    .footer_address,
    .location
    {
        flex-direction: column;
        padding-left: 0;
    }
    .social_media{
        padding-left: 0;
        flex-direction: column;
    }
    .location{
        padding:0;
        --gap:0.5rem;
    }
    .footer_list li{
        margin-bottom:0.5rem;
    }
    
    .linkedin{
        /* background-color: white; */
        border-radius: 50%;
    }
}
@media (min-width:1024px) {
    .footer{
        font-size: 10px !important;
        padding-inline: 10rem;
    }
 
}
@media (min-width:1440px) {
    .footer{
        font-size: 10px !important;
        padding-inline: 20rem;
    }
    
}